<html>
  <style>
  th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }
  td,th {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height: 50;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
  </style>
  <body>
    <!-- date time picker -->
    <form action="/datalog">
      <label for="from">From:</label>
      <input type="date" id="from" name="fromdate">
      <input type="time" id="from" name="fromtime">
      <label for="to">To:</label>
      <input type="date" id="to" name="todate">
      <input type="time" id="from" name="totime">
      <input type="submit" value="Filter">
    </form>
    <a href="/export2excel"><button>Export Excel</button></a>
  
    <!-- ... -->
    <table>
      <tr>
        <th width="50px">STT</th>
        <th>Thoi gian</th>
        <th>Buu Ta</th>
        <th>Ma buu kien</th>
        <th>Khoi luong</th>
        <th>Quy doi</th>
        <th>Tinh cuoc</th>
        <th>Dai</th>
        <th>Rong</th>
        <th>Cao</th>
        <th>Chenh Lech</th>
        <th>Ty le</th>
        <th>Khoi luong(VNP)</th>
        <th>Quy doi(VNP)</th>
        <th>Tinh cuoc(VNP)</th>
        <th>Dai(VNP)</th>
        <th>Rong(VNP)</th>
        <th>Cao(VNP)</th>
        <th>Anh buu pham</th>
      </tr>
      <% if(dataGDAQ.length){ 
        for(var i = 0;i < dataGDAQ.length;i++) { %>
      <tr>
        <td><%=(i+1)%></td>
        <td><%=dataGDAQ[i].created_at%></td>
        <td><%=dataGDAQ[i].user%></td>
        <td><%=dataGDAQ[i].barcode%></td>
        <td><%=dataGDAQ[i].massweight%></td>
        <td><%=dataGDAQ[i].calweight%></td>
        <td><%=dataGDAQ[i].priceweight%></td>
        <td><%=dataGDAQ[i].length%></td>
        <td><%=dataGDAQ[i].width%></td>
        <td><%=dataGDAQ[i].height%></td>
        <td><%=dataGDAQ[i].diffweight%></td>
        <td><%=dataGDAQ[i].rate%></td>
        <td><%=dataGDAQ[i].massweightVNP%></td>
        <td><%=dataGDAQ[i].calweightVNP%></td>
        <td><%=dataGDAQ[i].priceweightVNP%></td>
        <td><%=dataGDAQ[i].lengthVNP%></td>
        <td><%=dataGDAQ[i].widthVNP%></td>
        <td><%=dataGDAQ[i].heightVNP%></td>
        <!-- <td><%=dataGDAQ[i].pathPicture%></td> -->
        <td><a target="_blank" href="<%=dataGDAQ[i].pathPicture%>">
          <img src="<%=dataGDAQ[i].pathPicture%>" alt="Forest" style="width:150px">
        </a></td>
      </tr>
      <% }
      }else{ %>
      <tr>
        <td colspan="19">No data</td>
      </tr>
    <% } %>
    </table>
    </body></html>