<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Data Management</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/setting.css">
<script type="text/javascript">
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script>
</head>
<body>
	
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Quản lý gửi dữ liệu gửi lên hệ thống VNPOST<b></b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#submitRecordsModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xe163;</i> <span>Gửi dữ liệu</span></a>						
					    <a href="/" class="btn btn-danger"> <i class="material-icons">&#xe419;</i><span>Quay lại</span></a>
					</div>
                </div>
			</div>
			<% if (messages) { %>
				<div class="alert alert-success" role="alert">
					<%= messages %>
				  </div>
			<% } %>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>Thời gian</th>
                        <th>Mã bưu gửi</th>
						<th>Khối lượng</th>
						<th>Quy đổi </th>
						<th>Dài</th>
                        <th>Rộng</th>
                        <th>Cao</th>
                        <th>Chênh lệch</th>
						<th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
					<% if(dataGDAQ.length){ 
                        for(var i = 0;i < dataGDAQ.length;i++) { %>
                      <tr>
                        <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="idCheckbox" value="<%=dataGDAQ[i].id%>">
								<label for="checkbox1"></label>
							</span>
						</td>
                        <td><%=dataGDAQ[i].created_at%></td>
                        <td><%=dataGDAQ[i].barcode%></td>
						<td><%=dataGDAQ[i].massweight%></td>
						<td><%=dataGDAQ[i].calweight%></td>
                        <td><%=dataGDAQ[i].length%></td>
                        <td><%=dataGDAQ[i].width%></td>
                        <td><%=dataGDAQ[i].height%></td>
						<td><%=dataGDAQ[i].diffweight%></td>
						<% if(dataGDAQ[i].isSent==1){ %>
							<td><i class="material-icons" data-toggle="tooltip" title="đã gửi">&#xe5ca;</i></td>
						<% }else{%>
							<td><i class="material-icons" data-toggle="tooltip" title="lỗi">&#xe5c9;</i></td>
							<%}%>
                        <td>
                            <a href="#deleteRecordModal" class="delete" data-toggle="modal" data-id="<%=dataGDAQ[i].id%>"><i class="material-icons" data-toggle="tooltip" title="Xóa">&#xE872;</i></a>
                            <a href="<%=dataGDAQ[i].pathPicture%>" target="_blank" ><i class="material-icons" data-toggle="tooltip" title="Xem ảnh">&#xe410;</i></a>
                            <a href="#submitRecordModal"  data-toggle="modal" data-id="<%=dataGDAQ[i].id%>"><i class="material-icons" data-toggle="tooltip" title="Gửi">&#xe163;</i></a>
                        </td>
					</tr>
					<% }
      				}else{ %>
     				<tr>
        				<td colspan="11">No data</td>
      				</tr>
    				<% } %>
                </tbody>
            </table>
        </div>
    </div>
	<!-- Delete Modal HTML -->
	<div id="submitRecordModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action= "/submitRecords" method= "POST">
					<div class="modal-header">						
						<h4 class="modal-title">Gửi dữ liệu</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Bạn có chắc chắn gửi dữ liệu này không?</p>
						
					</div>
					<div class="form-group" type= "hidden">
						<input type="hidden" id="inputID" type="text" name="id">
					</div>	
					<div class="modal-footer">
						<input type="button" class="btn btn-danger" data-dismiss="modal" value="Hủy">
						<input type="submit" class="btn btn-success" value="Gửi">
					</div>
				</form>
			</div>
		</div>
    </div>
    <div id="submitRecordsModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action= "/submitRecords" method= "POST">
					<div class="modal-header">						
						<h4 class="modal-title">Gửi dữ liệu</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Bạn có chắc chắn gửi danh sách dữ liệu này không?</p>
						
					</div>
					<div class="form-group" type= "hidden">
						<input type="hidden" id="inputID" type="text" name="id">
					</div>	
					<div class="modal-footer">
						<input type="button" class="btn btn-danger" data-dismiss="modal" value="Hủy">
						<input type="submit" class="btn btn-success" value="Gửi">
					</div>
				</form>
			</div>
		</div>
    </div>
    <div id="deleteRecordModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action= "/deleteRecords" method= "POST">
					<div class="modal-header">						
						<h4 class="modal-title">Xóa dữ liệu</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Bạn có chắc chắn xóa dữ liệu này không?</p>
						
					</div>
					<div class="form-group" type= "hidden">
						<input type="hidden" id="inputID" type="text" name="id">
					</div>	
					<div class="modal-footer">
						<input type="button" class="btn btn-danger" data-dismiss="modal" value="Hủy">
						<input type="submit" class="btn btn-success" value="Xóa">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	$('#deleteRecordModal').on('show.bs.modal', function (event) {
  var id = $(event.relatedTarget).data('id');
  $(this).find("#inputID").val(id);
});
$('#submitRecordModal').on('show.bs.modal', function (event) {
  var id = $(event.relatedTarget).data('id');
  $(this).find("#inputID").val(id);
});
$('#submitRecordsModal').on('show.bs.modal', function (event) {
	var favorite = [];
    $.each($("input[name='idCheckbox']:checked"), function(){            
    favorite.push($(this).val());
});
  $(this).find("#inputID").val(favorite);
});
$(document).ready(function() {
    // show the alert
    setTimeout(function() {
        $(".alert").alert('close');
    }, 5000);
});
</script>                                		                            