<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Management</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/setting.css">
<script type="text/javascript">
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
});
</script>
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Quản lý tài khoản<b></b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm tài khoản</span></a>						
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>STT</th>
                        <th>Tên</th>
                        <th>Tài khoản</th>
						<th>Mật khẩu</th>
                        <th>Phân quyền</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
					<% if(users.length){ 
						for(var i = 0;i < users.length;i++) { %>
                    <tr>
						<td><%=(i+1)%></td>
                        <td><%=users[i].name%></td>
                        <td><%=users[i].username%></td>
						<td><%=users[i].password%></td>
						<% if(users[i].role==1){ %>
							<td>Quan Ly</td>
						<% }else{%>
							<td>Nhan vien</td>
							<%}%>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal" data-id="<%=users[i].id%>" data-name="<%=users[i].name%>" data-username="<%=users[i].username%>"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" data-id="<%=users[i].id%>"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
					</tr>
					<% }
      				}else{ %>
     				<tr>
        				<td colspan="3">No users</td>
      				</tr>
    				<% } %>
                </tbody>
            </table>
        </div>
    </div>
	<!-- Edit Modal HTML -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action= "/register" method= "POST">
					<div class="modal-header">						
						<h4 class="modal-title">Thêm tài khoản</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Tên</label>
							<input type="text" class="form-control" name= "name" required>
						</div>
						<div class="form-group">
							<label>Tài khoản</label>
							<input type="text" class="form-control" name="username" required>
						</div>
						<div class="form-group">
							<label>Mật khẩu</label>
							<input type="text" class="form-control" name="password" required>
						</div>
						<div class="form-group">
							<label>Phân quyền</label>
							<select name="role" >
								<option value="1">Quan ly</option>
								<option value="0">Nhan vien</option>
							</select>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Huy">
						<input type="submit" class="btn btn-success" value="Thêm">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<div id="editEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action= "/updateUser" method= "POST">
					<div class="modal-header">						
						<h4 class="modal-title">Cap nhat tai khoan</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">	
						<div class="form-group" >
							<input type="hidden" id="inputID" type="text" name="id">
						</div>				
						<div class="form-group">
							<label>Tên</label>
							<input id="name" type="text" class="form-control" name= "name" required>
						</div>
						<div class="form-group">
							<label>Tài khoản</label>
							<input id="username" type="text" class="form-control" name="username" required>
						</div>
						<div class="form-group">
							<label>Mật khẩu</label>
							<input type="text" class="form-control" name="password" required>
						</div>
						<div class="form-group">
							<label>Phân quyền</label>
							<select name="role" >
								<option value="1">Quan ly</option>
								<option value="0">Nhan vien</option>
							</select>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Huy">
						<input type="submit" class="btn btn-success" value="Cap Nhat">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action= "/deleteUser" method= "POST">
					<div class="modal-header">						
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="form-group" type= "hidden">
						<input type="hidden" id="inputID" type="text" name="id">
					</div>	
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Huy">
						<input type="submit" class="btn btn-danger" value="Xoa">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	$('#deleteEmployeeModal').on('show.bs.modal', function (event) {
  var id = $(event.relatedTarget).data('id');
  $(this).find("#inputID").val(id);
});

$('#editEmployeeModal').on('show.bs.modal', function (event) {
  var id = $(event.relatedTarget).data('id');
  var name = $(event.relatedTarget).data('name');
  var username = $(event.relatedTarget).data('username');
  $(this).find("#inputID").val(id);
  $(this).find("#name").val(name);
  $(this).find("#username").val(username);
});
</script>                                		                            